{{- $backlinks := slice -}}
{{- $pattern := printf `"%s.adoc"` .page.File.ContentBaseName -}}
{{- range where site.RegularPages "Permalink" "ne" .page.RelPermalink -}}
  {{- if strings.Contains .RawContent $pattern -}}
    {{- $backlinks = $backlinks | append . -}}
  {{- end -}}
{{- end -}}

{{- with $backlinks -}}
  <section class="backlinks">
    <b>Backlinks</b>
    <ul>
      {{ range . -}}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>
{{ end -}}
