{{ define "page" }}
<main style="padding: 1em;">
  <article style="grid-area: header;">
    <h1>{{ .Title }}</h1>
    <p>Written by <i>{{ .Params.Author }}</i> on {{ .Date.Format "2006-01-02" }}</p>
    <p></p>
  </article>
  <article style="grid-area: main;">
    {{ .Content }}
  </article>
  <aside style="grid-area: right;">
    <p><b>Table of Contents</b></p>{{.TableOfContents}}
  </aside>
  <aside style="grid-area: left; font-size: 0.8em;">
    {{ partial "backlinks.html" (dict "page" .) }}
  </aside>
</main>
<footer style="color: white; background: teal; padding: 1em;">
  If you find any errors, open an issue on the <a href="https://github.com/yueleshia/yueleshia.github.io/issues">repo</a>.
  Maybe discussions will become integrated as comments eventually.
</footer>
{{ end }}
